<table class="module-border" align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
    <tr>
        <td bgcolor="#fff" valign="top" align="center" width="100%" style="background-color: #fff;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="image-mobile-fullscreen" align="center" width="600" height="337.5" style="width: 600px; height: 337.5px; font-size:0; line-height:0;">
                        <div class="image-mobile-fullscreen" style="display: block; font-size:0; line-height:0;">
                            <img class="image-mobile-fullscreen" src="<%= url %>" width="600" height="337.5" alt="" style="width: 600px; height: 337.5px;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>