<table bgcolor="#d8e8f6;" class="module-border" align="left" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px; background-color: #0088cc;">
    <tr>
        <td align="left" valign="top" width="100%" style="padding: 6px 24px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" style="color: #fff;">
                        <p class="white-in-dmode" style="line-height: 150%; font-weight: bold; font-size: 12px;">
                            Xem TIẾNG VIỆT, hãy click
                            <a class="white-in-dmode" href="<%= link %>" target="_blank" style="color: #fff; text-decoration: underline; line-height: 150%;">ở đây</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>