<table align="left" width="690" border="0" cellpadding="0" cellspacing="0" style="width: 690px;">
    <tr>
        <td style="padding: 0;">
            <a name="<%= section_name %>"></a>
        </td>
    </tr>
</table>

<table class="module-border" align="left" width="690" border="0" cellpadding="0" cellspacing="0" style="width: 690px;">
    <tr>
        <td align="left" width="100%" style="padding: 0">
            <table class="table-title-section" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-bottom: solid 5px #0088cc;">
                <tr>
                    <td class="title-section active" valign="bottom" width="25%" align="left" style="padding: 0; width: <%= nav_01_width %>">
                        <table bgcolor="#d8e8f6;" width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_01_bg %>; border-radius: 0;">
                            <tr>
                                <td align="center" style="color: <%= nav_01_color %>; padding: 12px 12px 6px;">
                                    <h2 class="h3" style="text-transform: capitalize; margin: 0; font-weight: 400; font-size: 16px; line-height: 20px;">
                                        <a href="<%= nav_01_hash %>" style="color: <%= nav_01_color %> !important; font-size: 16px; line-height: 20px; text-decoration: none;"><%= nav_01_text %></a>
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" align="left" style="padding: 0; width: <%= nav_02_width %>">
                        <table bgcolor="#d8e8f6;" width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_02_bg %>;">
                            <tr>
                                <td align="center" style="color: <%= nav_02_color %>; padding: 12px 12px 6px;">
                                    <h2 class="h3" style="text-transform: capitalize; margin: 0; font-weight: 400; font-size: 16px; line-height: 20px;">
                                        <a href="<%= nav_02_hash %>" style="color: <%= nav_02_color %> !important; font-size: 16px; line-height: 20px; text-decoration: none;"><%= nav_02_text %></a>
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" align="left" style="padding: 0; width: <%= nav_03_width %>">
                        <table bgcolor="#d8e8f6;" width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_03_bg %>;">
                            <tr>
                                <td align="center" style="color: <%= nav_03_color %>; padding: 12px 12px 6px;">
                                    <h2 class="h3" style="text-transform: capitalize; margin: 0; font-weight: 400; font-size: 16px; line-height: 20px;">
                                        <a href="<%= nav_03_hash %>" style="color: <%= nav_03_color %> !important; font-size: 16px; line-height: 20px; text-decoration: none;"><%= nav_03_text %></a>
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" width="30%" align="left" style="padding: 0; width: <%= nav_04_width %>">
                        <table bgcolor="#d8e8f6;" width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_04_bg %>;">
                            <tr>
                                <td align="center" style="color: <%= nav_04_color %>; padding: 12px 12px 6px;">
                                    <h2 class="h3" style="text-transform: capitalize; margin: 0; font-weight: 400; font-size: 16px; line-height: 20px;">
                                        <a href="<%= nav_04_hash %>" style="color: <%= nav_04_color %> !important; font-size: 16px; line-height: 20px; text-decoration: none;"><%= nav_04_text %></a>
                                    </h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>