<table class="module-border" align="center" width="690" border="0" cellpadding="0" cellspacing="0" style="width: 690px;">
    <tr>
        <td bgcolor="#fff" valign="top" align="center" width="100%" style="background-color: #fff; padding-top: 30px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="image-mobile-fullscreen" align="center" width="690" height="452" style="width: 690px; height: 452px; font-size:0; line-height:0;">
                        <div class="image-mobile-fullscreen" style="display: block; font-size:0; line-height:0;">
                            <img class="image-mobile-fullscreen" src="<%= url %>" width="690" height="452" alt="" style="width: 690px; height: 452px;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>