<table align="left" width="690" border="0" cellpadding="0" cellspacing="0" style="width: 690px;">
    <tr>
        <td style="padding: 0;">
            <a name="<%= section_name %>"></a>
        </td>
    </tr>
</table>

<table class="module-border" align="left" width="690" border="0" cellpadding="0" cellspacing="0" style="width: 690px; border-bottom: solid 1px #ccc;">
    <tr>
        <td class="nav-col" align="left" width="200" style="width: 200px;">
            <table class="" width="100%" border="0" cellpadding="0" cellspacing="0" style="">
                <tr>
                    <td align="left">
                        <img src="https://i.ibb.co/HzgMNxp/202106-kl-logo.png" width="140" height="" alt="" style="width: 140px;">
                    </td>
                </tr>
            </table>
        </td>
        <td class="nav-col" align="left" width="490" style="padding: 0; width: 490px;">
            <table class="table-title-section" width="100%" border="0" cellpadding="0" cellspacing="0" style="">
                <tr>
                    <td class="title-section active" valign="bottom" width="<%= nav_01_width %>" align="left" style="padding: 0; width: <%= nav_01_width %>">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                            <tr>
                                <td class="nav-text-col" align="center" style="padding: 0 6px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                                        <tr>
                                            <td align="center" style="text-align: center; padding-bottom: 2px;">
                                                <img src="<%= nav_01_img %>" width="18" alt="" style="width: 18px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-bottom: 7px;">
                                                <a href="<%= nav_01_hash %>" style="font-size: 14px; line-height: 20px; text-decoration: none; text-transform: uppercase; font-weight: <%= nav_01_weight %>"><%= nav_01_text %></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px; background-color: <%= nav_01_color %>; border-radius: 10px 10px 0 0;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" align="left" style="padding: 0; width: <%= nav_02_width %>">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_02_bg %>;">
                            <tr>
                                <td class="nav-text-col" align="center" style="padding: 0 6px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                                        <tr>
                                            <td align="center" style="text-align: center; padding-bottom: 2px;">
                                                <img src="<%= nav_02_img %>" width="18" alt="" style="width: 18px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-bottom: 7px;">
                                                <a href="<%= nav_02_hash %>" style="font-size: 14px; line-height: 20px; text-decoration: none; text-transform: uppercase; font-weight: <%= nav_02_weight %>"><%= nav_02_text %></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px; background-color: <%= nav_02_color %>; border-radius: 10px 10px 0 0;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" align="left" style="padding: 0; width: <%= nav_03_width %>">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_03_bg %>;">
                            <tr>
                                <td class="nav-text-col" align="center" style="padding: 0 6px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                                        <tr>
                                            <td align="center" style="text-align: center; padding-bottom: 2px;">
                                                <img src="<%= nav_03_img %>" width="18" alt="" style="width: 18px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-bottom: 7px;">
                                                <a href="<%= nav_03_hash %>" style="font-size: 14px; line-height: 20px; text-decoration: none; text-transform: uppercase; font-weight: <%= nav_03_weight %>"><%= nav_03_text %></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px; background-color: <%= nav_03_color %>; border-radius: 10px 10px 0 0;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="title-section" valign="bottom" width="<%= nav_04_width %>" align="left" style="padding: 0; width: <%= nav_04_width %>">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_04_bg %>;">
                            <tr>
                                <td class="nav-text-col" align="center" style="padding: 0 6px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                                        <tr>
                                            <td align="center" style="text-align: center; padding-bottom: 2px;">
                                                <img src="<%= nav_04_img %>" width="18" alt="" style="width: 18px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-bottom: 7px;">
                                                <a href="<%= nav_04_hash %>" style="font-size: 14px; line-height: 20px; text-decoration: none; text-transform: uppercase; font-weight: <%= nav_04_weight %>"><%= nav_04_text %></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px; background-color: <%= nav_04_color %>; border-radius: 10px 10px 0 0;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td class="title-section" valign="bottom" width="<%= nav_05_width %>" align="left" style="padding: 0; width: <%= nav_05_width %>">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: <%= nav_05_bg %>;">
                            <tr>
                                <td class="nav-text-col" align="center" style="padding: 0 6px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0;">
                                        <tr>
                                            <td align="center" style="text-align: center; padding-bottom: 2px;">
                                                <img src="<%= nav_05_img %>" width="18" alt="" style="width: 18px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding-bottom: 7px;">
                                                <a href="<%= nav_05_hash %>" style="font-size: 14px; line-height: 20px; text-decoration: none; text-transform: uppercase; font-weight: <%= nav_05_weight %>"><%= nav_05_text %></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 3px; background-color: <%= nav_05_color %>; border-radius: 10px 10px 0 0;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>